name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ['main']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  build-all:
    runs-on: ubuntu-latest
    strategy:
      matrix: &company-matrix
        company: [default, companyA, companyB] # Add more companies as needed
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm ci
      - name: Build for company
        run: |
          if [ "${{ matrix.company }}" = "default" ]; then
            BASE_URI=/svelte-cv npm run build
          else
            BASE_URI=/svelte-cv/${{ matrix.company }} VITE_BUILD_COMPANY=${{ matrix.company }} npm run build
          fi
      - name: Move build to company folder
        run: |
          mkdir -p out/${{ matrix.company }}
          mv build/* out/${{ matrix.company }}/
      - name: Upload company artifact
        uses: actions/upload-artifact@v4
        with:
          name: out-${{ matrix.company }}
          path: out/${{ matrix.company }}

  deploy-all:
    needs: build-all
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    outputs:
      deploy_url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: all-builds
      - name: Combine all builds
        run: |
          mkdir -p build
          for d in all-builds/out-*; do
            company=$(basename "$d" | sed 's/^out-//')
            mkdir -p build/$company
            cp -r "$d"/* build/$company/
          done
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'build/'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
  delete-build-artifacts:
    needs: deploy-all
    runs-on: ubuntu-latest
    strategy:
      matrix: *company-matrix
    steps:
      - name: Delete build artifact
        uses: geekyeggo/delete-artifact@v5.1.0
        with:
          name: out-${{ matrix.company }}

  pdf-all:
    needs: deploy-all
    runs-on: ubuntu-latest
    strategy:
      matrix: *company-matrix
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: all-builds
      - name: Generate PDF from deployed page
        uses: narthanaj/html-to-pdf-action@v1.0.0
        with:
          source: ${{ needs.deploy-all.outputs.deploy_url }}${{ matrix.company == 'default' && '' || '/' }}${{ matrix.company == 'default' && '' || matrix.company }}/index.html#${{ secrets.ENCRYPTION_PASSWORD }}
          output: all-builds/out-${{ matrix.company }}/${{ secrets.ENCRYPTION_PASSWORD }}.pdf
          format: 'Letter'
          margin: '10,10,10,10'
          print_background: 'true'
      - name: Upload company artifact with PDF
        uses: actions/upload-artifact@v4
        with:
          name: out-${{ matrix.company }}-withpdf
          path: all-builds/out-${{ matrix.company }}

  deploy-with-pdf:
    needs: pdf-all
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Download all artifacts with PDFs
        uses: actions/download-artifact@v4
        with:
          path: all-builds
      - name: Combine all builds with PDFs
        run: |
          mkdir -p build
          for d in all-builds/out-*-withpdf; do
            company=$(basename "$d" | sed 's/^out-//' | sed 's/-withpdf$//')
            mkdir -p build/$company
            cp -r "$d"/* build/$company/
          done
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'build/'
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4.0.5
  delete-pdf-artifacts:
    needs: deploy-with-pdf
    runs-on: ubuntu-latest
    strategy:
      matrix: *company-matrix
    steps:
      - name: Delete PDF artifact
        uses: geekyeggo/delete-artifact@v5.1.0
        with:
          name: out-${{ matrix.company }}-withpdf
